# --- TeamSpeak 6 / TS3 Server Specific ---
# Bazy danych (kluczowe dla bezpieczeństwa)
*.sqlite
*.sqlite-journal

# Pliki przesłane na kanały (obrazki, avatary itp.)
files/
internal/

# Binarki i skrypty serwera (pobierasz je na VPS, nie trzymasz w git)
ts3server*
*.so
*.dll
*.exe
ts3server_startscript.sh
ts3server.ini
query_ip_whitelist.txt
query_ip_blacklist.txt
LICENSE

# --- Orbit Specific ---
# Jeśli Orbit generuje własne logi lub sesje
orbit_session
config/secrets.json
